html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.grid-container {
    display: grid;
    height: 680px;
    width: 680px;
}

h1, 
.grid-wrapper {
  display: grid;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: .5em;
  padding: 1em;
}

button {
  border-radius: 10px;
  padding: 1em 1em;
}

.page-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.range-slider {
  position: absolute;
  right: 0;
  bottom: 26em;
  transform: rotate(-90deg);
  width: 200px;
}

.output-value-wrapper {
  position: absolute;
  right: 2em;
  bottom: 22em;
}